<% provide(:title, "Pomodoro") %>

<div id="pomodoro-page">
  <p id="pom">Your <%= @pomodoro.is_break ? 'Break' : 'Pomodoro' %> will finish in</p>
  <p id="countdown"></p>

  <script>
    var pomodoroFinishedAt = <%= @pomodoro.finished_at.to_i * 1000 %>;
    var showTimer = function() {
      var distance = pomodoroFinishedAt - new Date().getTime();
      if (distance < 0) {
          clearInterval(pomodoroInterval);
          location.pathname = '<%= @pomodoro.is_break ? "/pomodoro/start": "/pomodoro/finished" %>';
      } else {
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
          var countdown = minutes + "m " + seconds + "s ";
          document.title = '<%= @pomodoro.is_break ? 'Break | ' : 'Pomodoro | ' %>' + countdown;
          document.getElementById("countdown").innerHTML = countdown;
      }
    }
    showTimer();
    var pomodoroInterval = setInterval(showTimer, 1000);
  </script>
  <div id = "break">
    <% unless @pomodoro.is_break %>
      <%= link_to("Interrupt", pomodoro_interrupt_path , class: "btn btn-primary btn-xl btn-lg") %>
    <% else %>
      <%= link_to("Start New Pomodoro", pomodoro_interrupt_break_path, method: :post, class: "btn btn-primary btn-xl btn-lg") %>
    <% end %>
  </div>
</div>
