<div class="container text-dark bg-light">
  <h1 class="text-center">Hello!</h1>

  <% if current_team.trello_board_id.present? %>
    <p class="text-center"><font size=5>What do you want to work on?</font></p>
    <div class="row thumbnail">
      <div class="col-md-6">
        <div class="caption">
          <h4>Trello Lists <small><%= link_to("Refresh", get_trello_lists_path , class: 'btn btn-xs', remote: true, method: :post) %></small>
          </h4>
          <div id="trello-lists">
            <%= render partial: 'trello_lists', locals: { lists: current_team.trello_lists.with_trello_board_id(current_team.trello_board_id) } %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="caption">
          <h4>Tasks <small><%= link_to("Refresh", "#" , class: 'btn btn-xs', id: 'trello-tasks-refresh', remote: true, method: :post, style: 'display:none;') %></small></h4>
          <div id="trello-tasks">
            <p>first you need to choose a trello list.</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= form_tag(pomodoro_begin_path) do %>
      <%= hidden_field_tag :trello_task_id %>
      <%= submit_tag 'Start Your Pomodoro', class: 'btn btn-primary btn-xl' %>
    <% end %>
  </div>
</div>
