<div class="container text-center text-dark bg-light">
  <h1><%= @team.title %> <%= link_to("Edit",  edit_team_path(@team) , class: 'btn btn-small') %></h1>
  <p class="team-description"><%= @team.description %></p>
  <div class="row">
    <div class="col-md-8 text-left">
      <div>
        <div class="caption">
          <h4>Members</h4>
          <div class="well">
            <ul class="list-group">
              <% @team.team_users.includes(:user).each do |team_user| %>
                <li class="list-group-item">
                  <span><%= team_user.user.email %></span>
                  <button type="button" class="btn btn-default float-right btn-xs">x</button>
                  <span class="label label-info float-right uppercase"><%= team_user.user_type %></span>
                  <div class="clearfix"></div>
                </li>
              <% end %>
            </ul>
          </div>
          <h4>Add New Member</h4>
          <div class="well">
            <div class="input-group">
              <span class="input-group-addon">Name</span>
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="input-group">
              <span class="input-group-addon">E-mail</span>
              <input type="text" class="form-control" placeholder="Usermail">
            </div>
            <div class="center">
              <button type="button" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-left">
      <div>
        <div class="caption">
          <h4>Trello Integration</h4>
          <div class="well">
            <% unless current_user.uid.present? %>
              <%= link_to("Connect to Trello", user_trello_omniauth_authorize_path , class: 'btn btn-lg btn-block btn-primary') %>
            <% else %>
              <p>Select which trello board you wanted to connect with your team</p>
              <%= link_to "Refresh", get_trello_boards_path, class: 'btn btn-xs', id: "team-trello-board-refresh" %>
              <div class="list-group" id="team-trello-boards">
                <% @trello_boards.each do |board| %>
                  <%= link_to(board['title'], set_trello_board_team_path(current_team, trello_board_id: board['id']) , class: "list-group-item #{ board['id'] == @team.trello_board_id ? 'active' : '' }") %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
