<div class="container">
  <h1 class="text-center">
    <%= @team.title %>
    <% if current_user.leader_of(@team) %>
      <small><%= link_to("Settings", settings_team_path(current_team), class: 'btn btn-xs') %></small>
    <% end %>
    </h1><br>
  <p class="team-description text-center"><%= @team.description %></p>
  <div></div>
  <div id="team-pomodoro-dashboard">
    <% @team.members.each do |member| %>
      <div id="team-user-box-outer-<%= member.id %>">
        <%= render 'teams/user_pomodoro_box', user: member, state: 'init' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  App.global_chat = App.cable.subscriptions.create({
    channel: "TeamChannel",
    room: '<%= current_team.id %>'
  }, {
    connected: function() {
      console.log('connected');
    },
    // Called when the subscription is ready for use on the server
    disconnected: function() {
      console.log('disconnected');
    },
    // Called when the subscription has been terminated by the server
    received: function(data) {
      console.log(data);
      if (typeof data.html != "undefined") {
        $('#team-user-box-outer-' + data.sent_by).html(data.html);
      }
    }
  });
</script>
