<!DOCTYPE html>
<html>
  <head>
    <title>Gurupomodoro | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/navbarAfterLogin'%>
    <% else %>
      <%= render 'layouts/navbarBeforeLogin'%>
    <%end%>

    <%= yield %>

  </body>
</html>
