<style>
    body {
      background: #c94b4b; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to top,
        #4b134f,
        #c94b4b
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to top,
        #4b134f,
        #c94b4b
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  </style>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
